{% include "_header.twig" %}

<section class="section">
    <div class="container">
        <div class="columns">
            {% if session.admin_logged_in %}
            <div class="column is-one-fifth">
                <aside class="menu">
                    <p class="menu-label">
                        General
                    </p>
                    <ul class="menu-list">
                        <li><a href="{{ url_for('dashboard') }}" class="{{ currentPage == 'dashboard' ? 'is-active' : '' }}">Dashboard</a></li>
                        <li><a href="{{ url_for('documents') }}" class="{{ currentPage == 'documents' ? 'is-active' : '' }}">Documents</a></li>
                    </ul>
                    <p class="menu-label">
                        Configuration
                    </p>
                    <ul class="menu-list">
                        <li><a href="{{ url_for('models') }}" class="{{ currentPage == 'models' ? 'is-active' : '' }}">Models</a></li>
                        <li><a href="{{ url_for('prompt') }}" class="{{ currentPage == 'prompt' ? 'is-active' : '' }}">System Prompt</a></li>
                        <li><a href="{{ url_for('onboarding') }}" class="{{ currentPage == 'onboarding' ? 'is-active' : '' }}">Onboarding</a></li>
                    </ul>
                    <p class="menu-label">
                        Account
                    </p>
                    <ul class="menu-list">
                        <li><a href="{{ url_for('logout') }}">Logout</a></li>
                    </ul>
                </aside>
            </div>
            {% endif %}

            <div class="column">
                <div class="page-header">
                     <h1 class="title">{% block heading %}{% endblock %}</h1>
                </div>
                
                {% block content %}{% endblock %}
            </div>
        </div>
    </div>
</section>

{% include "_footer.twig" %} 